



body{
    background:#ccee66;
    color: #fff;
    padding: 20px 160px;
    height: 100vh;
    font-family: "Noto Sans", sans-serif;

    overflow: hidden;
}
body::before{
    content:"";
    background: #090909;
    width: 130%;
    height: 150%;
    position: absolute;
    top: 0;
    left: -600px;
    transform: rotate(-80deg);

}
body::after{
    content: "NIKE";
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    color:rgb(28, 28, 28);
    font-size: 120px;
    font-weight: bold;
    opacity: 0.8;
}

.logo{
    width: 90px;
    position: absolute;


}
h4{
    font-size: 30px;
    padding: 20px;
}
h1{
    font-size: 50px;
}
p{
    font-size: 16px;
    margin-bottom: 40px;
}
.botao-carrinho{
    background: #a3be52;
    padding: 10px 20px ;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    transition: 0.5s;
    
}
.botao-carrinho:hover{
    opacity: 0.7;
}
.imagem-tenis{
    width: 500px;
    transform: rotate(-25deg);
    right: 100px;
    filter: drop-shadow(30px 45px 40px #161616); 
    transition: 1s;
    
}
.troca-efeito{
    opacity: 0;
    transform: rotate(-25deg) translateY(-30px);
}

.caixa-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    position:relative;
    z-index: 1;
}
.caixa-texto{
    max-width: 500px ;
}
.caixa-botaos{
    z-index: 2;
    position: relative;
    display: flex;
    gap: 20px;

}
.botaos{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;  
}
.botaos:active{
    opacity: 0.6;
}

.verde{
    background: #a3be52;

}
.azul{
    background: #58cced;

}
.rosa{
    background: #ff9eb5;
}